@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    color:#c9c9c9;
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #373737;
    padding: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 20px;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #c9c9c9;
}
.link {
    text-decoration: none;
    color: #232323;
    font-weight: 900;
    transition: 0.3s ease;
}

.about{
    display: flex;
    gap: 20px;
}
img{
    width: 100%;
  height: auto;
}

.container {
    max-width: 70%;
    margin: 30px auto;
    gap: 30px;

}
#skills{
    flex-direction: column;
    align-items: flex-start;
}
#projects{
    flex-direction: column;
    align-items: flex-start;
}
.mt-2{
    margin-top: 20px;
}
.container:hover .link {
    color: #fff;
}

.cv__list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.list__element {
    padding: 0.3rem;
}

.list__element.cv-photo {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 30px;
}

.cv__list1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cv__list2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#contacts{
    flex-direction: column;
    align-items: flex-start;
}
.image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

footer {
    background-color: #373737;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}
footer img {
    vertical-align: middle;
    width: 50px;
    height: auto;
}